body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Open Sans Condensed', sans-serif;
    background-color: #f3f4f7;
}

img{
    width: 100%;
}

main {
    padding-left: 5%;
    padding-right: 5%;

}

/*ACCORDION START*/
.accordion {
    background-color: #9ebbc1;
    color: white;
    cursor: pointer;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #9ebbc1;
}

/*FLEXBOX START*/
.flexbox {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1%;

}
.bokse {
    width: 49%;
}

/*FLEXBOX SLUT*/

/*TEKST START*/
h1 {
    font-size: 29px;
    text-align: center;
    letter-spacing: 1.5px;
}

h2 {
    font-size: 20px;
    padding-bottom: 5%;
    letter-spacing: 1.5px;
}

h3{
    margin-bottom: -12px;
}


.labo{
    text-align: ;
    font-size: 17px;
}

#laborant{
    margin-bottom: -15px;
}

.lilletekst {
    margin-bottom: px;
    margin-top: 12px;
    font-weight: 450;
}

.lilletekst1 {
    text-align: center;
     margin-bottom: px;
    margin-top: 12px;
    font-weight: 450;
    margin-right: 3px;
      letter-spacing: -1px;


}

#lilletekst2{
    padding-bottom: 4%
}

.mini{
    font-weight: 500
}

.panel {
    display: none;
    background-color: #9ebbc1;
    overflow: hidden;
    color: white;
    padding-left: 5%;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.paneltekst0 {
    font-size: 17px;

}

.links{
    color: white
}
/*TEKST SLUT*/


/*IKONER START*/
.ikon1 {
    width: 75%;
}

/*IKONER SLUT*/

/*NAVIGATION START*/
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

nav div {
    width:33%;
    padding: 5% 4%;
}

#menu {
    width: 25%;
    padding: 5% 5%;

}

#logo {
    width: 109%;
    padding-left: 8%;
}

#search {
    width: 25%;
    margin-left: 63%;
    margin-top: 3%;

}

/*Interaktiv video start*/
.lab iframe {
width: 90%;
height: 450px;
text-align: center;
margin-left: 5%;
margin-top: 5%;
}

/*Interaktiv video slut*/


/*Animation start kode fundet på animista.net */
#blaaboks {
	animation: beat .55s infinite alternate;

	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	-o-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}

@-webkit-keyframes "beat" {
 to {
   transform: scale(1.1);
 }
}

/*Animation slut*/

/*FOOTER*/
Footer {
    height: 90%;
    width: 100%;
    margin-top: 7%;
    padding-top: 10px;
    padding-bottom: 7px;
}

footer p {
    font-size: 16px;
    line-height: 37px;
    margin-left: 5.2%;
}

footer h3{
    font-size: 16px;
        margin-left: 5.2%;

}
    #facebook {
        width: 35px;
    }

    #instagram {
        width: 35px;
    }

    #pinterest {
        width: 35px;
    }

    #youtube {
        width: 35px;
    }

    #socialemedier img{
        padding: 0% 2px;
        margin-top: 19px;

    }
#socialemedier {
    padding-left: 2.5%;
}

#datoOGtid {
        margin-left: 5.2%;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
